build-algoritm_lesson_1-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/Makefile
build-algoritm_lesson_1-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/Makefile.Debug
build-algoritm_lesson_1-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/debug/algoritm_lesson_1.ilk
build-algoritm_lesson_1-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/Makefile.Release
build-algoritm_lesson_1-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/debug/algoritm_lesson_1.exe
build-algoritm_lesson_1-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/debug/algoritm_lesson_1.pdb
build-algoritm_lesson_1-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/debug/main.obj
Exercise_1/Exercise_1/Exercise_1.vcproj
Exercise_1/Exercise_1/ReadMe.txt
Exercise_1/Exercise_1/Debug/vc80.idb
Exercise_1/Exercise_1/Debug/mt.dep
Exercise_1/Exercise_1/Debug/BuildLog.htm
Exercise_1/Exercise_1/Debug/Exercise_1.exe.embed.manifest
Exercise_1/Exercise_1/Debug/Exercise_1.exe.embed.manifest.res
Exercise_1/Exercise_1/Debug/Exercise_1.exe.intermediate.manifest
Exercise_2/build-Exercise_2-Desktop_Qt_5_8_0_MinGW_32bit-Debug/.qmake.stash
Exercise_2/build-Exercise_2-Desktop_Qt_5_8_0_MinGW_32bit-Debug/Makefile
Exercise_2/build-Exercise_2-Desktop_Qt_5_8_0_MinGW_32bit-Debug/Makefile.Debug
Exercise_2/build-Exercise_2-Desktop_Qt_5_8_0_MinGW_32bit-Debug/Makefile.Release
Exercise_2/build-Exercise_2-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/main.o
Exercise_2/build-Exercise_2-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/Makefile
Exercise_2/build-Exercise_2-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/Makefile.Debug
Exercise_2/build-Exercise_2-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/Makefile.Release
Exercise_2/build-Exercise_2-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/debug/Exercise_2.exe
Exercise_2/build-Exercise_2-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/debug/Exercise_2.ilk
Exercise_2/build-Exercise_2-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/debug/Exercise_2.pdb
Exercise_2/build-Exercise_2-Desktop_Qt_5_7_0_MSVC2015_64bit-Debug/debug/main.obj
Exercise_2/Exercise_2/Exercise_2.pro.user
