Exercise_1/Exercise_1/Exercise_1.vcproj
Exercise_1/Exercise_1/ReadMe.txt
Exercise_1/Exercise_1/Debug/vc80.idb
Exercise_1/Exercise_1/Debug/mt.dep
Exercise_1/Exercise_1/Debug/BuildLog.htm
Exercise_1/Exercise_1/Debug/Exercise_1.exe.embed.manifest
Exercise_1/Exercise_1/Debug/Exercise_1.exe.embed.manifest.res
Exercise_1/Exercise_1/Debug/Exercise_1.exe.intermediate.manifest
